@inherits Umbraco.Web.ViewModel<ClassName>
@{
	// Single line comment
	var path = Helpers.GetAssetPath(file);

	var currentPage = Model;
	/*
	Multi-line comment
	*/
}
<p>
	@* Razor comment *@
	<!-- HTML comment -->

	@path
</p>

@Html.Partial("Blocks/Cards", collection)

<ul>
	@foreach (var link in links) {
		@if (link != null) {
			<li><a href="@(link.Url)">@(link.Name)</a></li>
		}
	}
</ul>

@MediaHelper.RenderMedia(image, 1200, 400)

<p data-path="@(path)">
	@* Hey there *@
</p>

<partial name="Blocks/RenderBlocks" model="currentPage" />


